.donee-app-form-page {
    margin-bottom: 10rem;
}

.center-head {
    text-align: center;
    margin-top: 1em;
}

.application-page-header p {
    text-align: center;
    margin-top: -1em;
    font-weight: 500;
    color: var(--clr-neutral-200);
}

.back-link a {
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-neutral-200);
}

/* ==========STYLING THE FORMS============ */
.donee-app-form {
    width: 80rem;
    max-width: 60rem;
    margin-top: -1.2em;
    padding: 0;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.donee-form {
    padding: 2em;
}

.form-flex {
    display: flex;
}

.form-input-field {
    margin-inline-end: 5em;
    margin-block-end: 1em;
}

.donee-text-input {
    margin: auto;
    width: 28em;
    padding-block: 0.8em;
    padding-inline-start: 0.5em;
    border-radius: 4px;
    border: 1px solid #555;
}

.donee-text-input:focus {
    background: none;
    outline: none;
    border: 2px solid #f5f5f5;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
}

.notify {
    font-size: 0.8em;
    font-style: italic;
    display: block;
}

.next-btn {
    margin-top: 1em;
    text-align: right;
}

.donee-textarea {
    width: 26rem;
    padding-inline: 1em;
    font-size: 1.05em;
}

.app-textarea {
    margin-top: 0.5em;
}

.upload-section {
    margin-top: -1.8em;
    margin-bottom: -2em;
    cursor: pointer;
}

.upload-icon {
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.upload-field {
    width: 28rem;
    height: 12rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2em;
    text-align: center;
    padding-block: 1.5em;
    cursor: pointer;
}

.upload-field:hover {
    background-color: #f5f5f5;
}

.upload-text {
    padding: 0.5rem 0.5rem 0;
    font-size: 0.92rem;
    color: #555;
}

.file-upload {
    color: #fff;
    background-color: #000f3b;
}

.acknowledgement-text {
    margin-block-start: 5em;
}

.agreement-div {
    display: flex;
}

.agreement-div p {
    margin-left: 1em;
    font-size: 1rem;
}

.signature-box {
    margin-top: 1em;
    width: 46rem;
}