.donor-tabpane {
    border: 2px solid #f5f5f5;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
    background-color: #fff;
    max-width: 15rem;
    height: 6em;
    padding: 1em 2em;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.donor-app-form-page {
    margin-bottom: 12.5rem;
}

.donor-app-form {
    width: 80rem;
    max-width: 60rem;
    height: 100%;
    margin-left: 18em;
    margin-top: -13.7em;
    padding: 0;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.application-container h4 {
    color: #000f3b;
}

.donor-form {
    padding: 2em;
}

.active-donor-tab {
    background-color: #ccc;
    border-left: 5px solid var(--clr-primary-100);
    color: var(--clr-primary-100);
    padding: 1em;
    width: 15rem;
  }

  .donor-text-input {
    margin: auto;
    width: 28em;
    padding-block: 0.8em;
    padding-inline-start: 0.5em;
    border-radius: 4px;
    border: 1px solid #555;
}

.donor-text-input:focus {
    background: none;
    outline: none;
    border: 2px solid #f5f5f5;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
}

.schedule-section {
    margin-top: 1em;
}

.schedule-section h4 {
    color: var(--clr-primary-400);
}

.schedule-section h3 {
    color: var(--clr-primary-100);
    margin-inline: 1em 0.5em;
    margin-top: -0.2em;
}

.schedule-check {
    margin-inline: 1em;
}

.schedule-para {
    margin-top: -0.5em;
    margin-left: -0.5em;
    color: #555;
}

.t-c-para {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.signature-box-donor {
    width: 46rem;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: underline 2px;
    font-weight: 500;
}