.contact-page {
    width: 75%;
    max-width: 65%;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
}

.contact-text {
    text-align: center;
}

.contact-text h2 {
    color: var(--clr-primary-400);
}

.contact-text p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--clr-neutral-200);
    margin-bottom: -1em;
}

.third-para {
    padding-top: 1.5em;
}

.contact-form {
    background-color: #fff;
    border: 2px solid #f5f5f5;
    box-shadow: 1px 2px 4px 1px #c2f8f0;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    padding: 2em 2em- 4em;
    border-radius: 1rem;
    height: 600px;
}

.contact-label {
    margin-left: 1.2rem;
}

@media (min-width: 40rem) {
    .contact-form {
        padding: 2em;
        margin: 2em;
    }

    .form-field {
        margin-block: 1em;
    }

    .text-area {
        padding: 3em;
        margin-top: -1.5em;
    }

    .text-area label {
        display: block;
    }

    #help {
        margin-inline-end: 2em;
    }

    .help-btn {
        margin-top: 2em;
    }
}

.form-box {
    width: 100%;
    display: flex;
}

@media (max-width: 960px) {
    .contact-form {
        padding: 3em;
        margin-bottom: 2em;
    }

    .form-box {
        flex-direction: column;
    }

    #help {
        margin-block-end: 2em;
    }

    .text-area {
        margin-bottom: -1.5em;
    }
}

.form-field {
    width: 22rem;
    padding-block: 0.8rem;
    padding-inline: 0.6em;
    margin-inline: 1rem 3rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form-field:hover {
    border-color: #555;
    outline: none;
}

.form-field:focus {
    outline: none;
}

#topic {
    padding-inline: 0.5em 5.8em;
}

#help {
    font-size: 1rem;
    padding: 0.5em;
}

.text-box {
    height: 150px;
}

#contact-reason {
    height: 18em;
}

.send-btn {
    width: 76%;
    margin: auto;
    margin-top: -5em;
    text-align: right;
}

.help-btn {
    padding-block: 0.7em;
    margin-top: 10em;
}